.card-btn {
    border-radius: 50%;
    font-size: 2rem;
    padding: 5px 5px;
    border: 0;
    width: 75%;
    background-color: white;
}

.card-btn:hover {
    background-color: rgb(255, 103, 103);
}

.card-btn:focus {
    outline: none;
}