.card-btn {
    border-radius: 40%;
    font-size: 2rem;
    padding: 5px 5px;
    border: 0;
    width: 100%;
    background-color: white;
}

.button:hover {
    background-color: rgb(255, 103, 103);
}