.btnHard {
    border: 1px solid red;
    background-color: white;
    color: black;
}

.btnEasy {
    border: 1px solid green;
    background-color: white;
    color: black;
}

.gameModeBtn {
    border: 0;
    background-color: blue;
    color: white;
    width: 40%;
}